
{% block title %}Airport!{% endblock %}

{% block body %}
<h1 class="text-center"> Airoport Chisinau </h1>
<h3 class ="text-center"> The course <h3/>
<strong>Destination city: </strong> {{product.name}}
<hr>
<strong> Course price: </strong> {{product.price}}
<hr>
<strong> Course hour: </strong> {{product.description}}
<hr>
<strong> Course  category: </strong> {{product.category}}
{% endblock %}
